## Data Import

In [ ]:
import pandas as pd
train=pd.read_csv('/Users/zhangzhixuan/CPSC4820_Disaster_Classifier-/train.csv')
test=pd.read_csv('/Users/zhangzhixuan/CPSC4820_Disaster_Classifier-/test.csv')

In [15]:
print('Trainning Set Shape={}'.format(train.shape))
print('Trainning Set Memory Usage={:.2f} MB'.format(train.memory_usage().sum()/1024**2))
print('Trainning Set Shape={}'.format(test.shape))
print('Trainning Set Memory Usage={:.2f} MB'.format(test.memory_usage().sum()/1024**2))

Trainning Set Shape=(7613, 5)
Trainning Set Memory Usage=0.29 MB
Trainning Set Shape=(3263, 4)
Trainning Set Memory Usage=0.10 MB

## Accuracy check

In [16]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [52]:
train['target'].value_counts(normalize=True)

0    0.57034
1    0.42966
Name: target, dtype: float64

In [21]:
train.isnull().sum() * 100 / len(train)

id           0.000000
keyword      0.801261
location    33.272035
text         0.000000
target       0.000000
dtype: float64

In [22]:
test.isnull().sum() * 100 / len(test)

id           0.000000
keyword      0.796813
location    33.864542
text         0.000000
dtype: float64

In [40]:
print('The unique values in Training location column: {}'.format(train['location'].unique().shape[0]))
print('The unique values in Testing location column: {}'.format(test['location'].unique().shape[0]))
print('The unique values in Training keyword column: {}'.format(train['keyword'].unique().shape[0]))
print('The unique values in Testing keywords column: {}'.format(test['keyword'].unique().shape[0]))

The unique values in Training location column: 3342
The unique values in Testing location column: 1603
The unique values in Training keyword column: 222
The unique values in Testing keywords column: 222

In [63]:
train[train['target']==1].groupby('keyword').count().sort_values(['id'],ascending=False)

             id  location  text  target
keyword
derailment   39        25    39      39
wreckage     39        28    39      39
outbreak     39        30    39      39
debris       37        22    37      37
oil%20spill  37        27    37      37
...          ..       ...   ...     ...
blazing       1         1     1       1
epicentre     1         1     1       1
body%20bag    1         1     1       1
electrocute   1         1     1       1
ruin          1         1     1       1

[220 rows x 4 columns]

In [64]:
train[train['target']==0].groupby('keyword').count().sort_values(['id'],ascending=False)

                   id  location  text  target
keyword
body%20bags        40        22    40      40
harm               37        26    37      37
armageddon         37        28    37      37
wrecked            36        20    36      36
ruin               36        27    36      36
...                ..       ...   ...     ...
typhoon             1         1     1       1
suicide%20bombing   1         0     1       1
suicide%20bomber    1         0     1       1
outbreak            1         1     1       1
oil%20spill         1         0     1       1

[218 rows x 4 columns]

## Meta Features

### Word_count

In [67]:
train[train['target']==1]['text'].apply(lambda x:len(str(x).split()))

0       13
1        7
2       22
3        8
4       16
        ..
7608    11
7609    20
7610     8
7611    19
7612    13
Name: text, Length: 3271, dtype: int64

In [68]:
train[train['target']==0]['text'].apply(lambda x:len(str(x).split()))

15       3
16       3
17       3
18       5
19       3
        ..
7581    13
7582    11
7584    13
7587     2
7593    12
Name: text, Length: 4342, dtype: int64